<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Andrew Krufka - Data Analyst</title>
<link rel="stylesheet" href="/static/css/style2.css">
<link rel="stylesheet" href="../assets/css/style2.css">
	 <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.6/TweenLite.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.6/plugins/CSSPlugin.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.6/plugins/ScrollToPlugin.min.js"></script> -->
	<script>const whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true, iconSize: 'medium'};</script>
	<script src="https://wow.zamimg.com/js/tooltips.js"></script>
</head>

<body>



<div class="slides-container">
    <div class="slide" id="slide-1">
        <div class="centered">
			<h1>World of Warcraft Death Knight Gearing Simulation</h1>
			<p>Inital Question:</p>
			<p>Which one of these 2 items should I use?</p>
			<style>
			* {
			  box-sizing: border-box;
			}

			/* Create two equal columns that floats next to each other */
			.column {
			  float: left;
			  width: 50%;
			  padding: 10px;
			}

			/* Clear floats after the columns */
			.row:after {
			  content: "";
			  display: table;
			  clear: both;
			}
			.column2 {
			  float: left;
			  width: 50%;
			  padding: 10px;
			}

			/* Clear floats after the columns */
			.row2:after {
			  content: "";
			  display: table;
			  clear: both;
			}
			</style>


			<div class="row2">
				<div class="column2" style="text-align: center; font-size: 25px">
					<a href="javascript:void(0);" data-wowhead="item=40189&domain=wrath"></a>
				</div> 
				<div class="column2" style="text-align: center; font-size: 25px">
					<a href="javascript:void(0);" data-wowhead="item=40402&domain=wrath"></a>
				</div>
			</div> 
			<div style="text-align: center; font-size: 20px">
				*Hover Over Item To See Details*
			</div>
			<div class="row">
				<div class="column"style="text-align: center; font-size: 20px">
					<div>
					<iframe src="https://www.andrewkrufka.com/angrydread/" style="border: 0pt none ; width: 50vw; height: 800px;" scrolling="yes"></iframe>
					</div>
					<p><a href="https://www.andrewkrufka.com/angrydread/" target="_blank" style="centered">Link to full page of this data.</a></p>
				</div>
				<div class="column"style="text-align: center; font-size: 20px">
					<div>
            		<iframe src="https://www.andrewkrufka.com/lastlaugh/" style="border: 0pt none ; width: 50vw; height: 800px;" scrolling="yes"></iframe>
					</div>
					<p><a href="https://www.andrewkrufka.com/lastlaugh/" target="_blank" style="centered">Link to full page of this data.</a></p>
				</div>
			<!--
			<p>More Text</p>

			<p>Nitty Gritty</p>
			-->
			</div>
		</div>
		<div>>
			<div style="text-align: center">
			<p><a href="https://www.remourtech.com/" target="_blank" style="centered">Link to my Simulator used to create the data.</a></p>
			<p><a href="https://www.remourtech.com/dash/" target="_blank" style="centered">Link to my data analyser used to map the data.</a></p>
			</div>
		</div>

</body>
<script>
</script>
</html>
